<!-- ============================================================== -->
<!-- Recent Comments -->
<!-- ============================================================== -->
<!--                <div class="row">-->
<!--                    &lt;!&ndash; .col &ndash;&gt;-->
<!--                    <div class="col-md-12 col-lg-8 col-sm-12">-->
<!--                        <div class="card white-box p-0">-->
<!--                            <div class="card-body">-->
<!--                                <h3 class="box-title mb-0">Recent Comments</h3>-->
<!--                            </div>-->
<!--                            <div class="comment-widgets">-->
<!--                                &lt;!&ndash; Comment Row &ndash;&gt;-->
<!--                                <div class="d-flex flex-row comment-row p-3 mt-0">-->
<!--                                    <div class="p-2"><img src="plugins/images/users/varun.jpg" alt="user" width="50" class="rounded-circle"></div>-->
<!--                                    <div class="comment-text ps-2 ps-md-3 w-100">-->
<!--                                        <h5 class="font-medium">James Anderson</h5>-->
<!--                                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>-->
<!--                                        <div class="comment-footer d-md-flex align-items-center">-->
<!--                                             <span class="badge bg-primary rounded">Pending</span>-->
<!--                                             -->
<!--                                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Comment Row &ndash;&gt;-->
<!--                                <div class="d-flex flex-row comment-row p-3">-->
<!--                                    <div class="p-2"><img src="plugins/images/users/genu.jpg" alt="user" width="50" class="rounded-circle"></div>-->
<!--                                    <div class="comment-text ps-2 ps-md-3 active w-100">-->
<!--                                        <h5 class="font-medium">Michael Jorden</h5>-->
<!--                                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>-->
<!--                                        <div class="comment-footer d-md-flex align-items-center">-->

<!--                                            <span class="badge bg-success rounded">Approved</span>-->
<!--                                            -->
<!--                                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Comment Row &ndash;&gt;-->
<!--                                <div class="d-flex flex-row comment-row p-3">-->
<!--                                    <div class="p-2"><img src="plugins/images/users/ritesh.jpg" alt="user" width="50" class="rounded-circle"></div>-->
<!--                                    <div class="comment-text ps-2 ps-md-3 w-100">-->
<!--                                        <h5 class="font-medium">Johnathan Doeting</h5>-->
<!--                                        <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and type setting industry.It has survived not only five centuries. </span>-->
<!--                                        <div class="comment-footer d-md-flex align-items-center">-->

<!--                                            <span class="badge rounded bg-danger">Rejected</span>-->
<!--                                            -->
<!--                                            <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">April 14, 2021</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-12 col-sm-12">-->
<!--                        <div class="card white-box p-0">-->
<!--                            <div class="card-heading">-->
<!--                                <h3 class="box-title mb-0">Chat Listing</h3>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <ul class="chatonline">-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">Varun Dhavan <small-->
<!--                                                        class="d-block text-success d-block">online</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">Genelia-->
<!--                                                    Deshmukh <small class="d-block text-warning">Away</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">Ritesh-->
<!--                                                    Deshmukh <small class="d-block text-danger">Busy</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">Arijit-->
<!--                                                    Sinh <small class="d-block text-muted">Offline</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/govinda.jpg" alt="user-img"-->
<!--                                                class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">Govinda-->
<!--                                                    Star <small class="d-block text-success">online</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <div class="call-chat">-->
<!--                                            <button class="btn btn-success text-white btn-circle btn" type="button">-->
<!--                                                <i class="fas fa-phone"></i>-->
<!--                                            </button>-->
<!--                                            <button class="btn btn-info btn-circle btn" type="button">-->
<!--                                                <i class="far fa-comments text-white"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img-->
<!--                                                src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle">-->
<!--                                            <div class="ms-2">-->
<!--                                                <span class="text-dark">John-->
<!--                                                    Abraham<small class="d-block text-success">online</small></span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                </div>-->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
  <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Grit Dominate Limited | All rights reserved </p>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/app-style-switcher.js"></script>
<script src="plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="js/waves.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="js/pages/dashboards/dashboard1.js"></script>
</body>