<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog - Grit Dominate</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <!--    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">-->
    <script src="https://kit.fontawesome.com/0ef1cecb74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
<!--        <i class="fa fa-search"></i>-->
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <!--                <li><a href="/classes">Programs</a></li>-->
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="dropdown">
                    <li><a href="/about-us">About us</a></li>
                    <li><a href="/class-timetable">Programs timetable</a></li>
                    <li><a href="/bmi-calculator">Bmi calculate</a></li>
                    <li><a href="/team">Shop</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/blog">Our blog</a></li>
                    <!--                        <li><a href="/404">404</a></li>-->
                </ul>
            </li>
            <li><a th:href="${user == null ? '/userRegistration' : '/userLogin'}">Registration</a></li>
            <li><a href="/userLogin">Login</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        <a href="/userLogin"><i class="fa fa-user"></i></a>
        <a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
        <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://m.facebook.com/grit.dominate"><i class="fa fa-facebook"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row" style="padding-top:0px">
            <div class="col-lg-3" style="padding-left:50px;">
                <div class="logo">
                    <a href="/">
                        <img src="img/logo2.png" alt="" style="height: 65px;">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <!--                            <li><a href="/class-details">Programs</a></li>-->
                        <li><a href="/services">Services</a></li>
                        <li><a href="/team">Shop</a></li>
                        <li class="active"><a href="#">Pages</a>
                            <ul class="dropdown">
                                <!--                                    <li><a href="/about-us">About us</a></li>-->
                                <li><a href="/class-timetable">Programs timetable</a></li>
                                <li><a href="/bmi-calculator">Bmi calculate</a></li>
                                <!--                                    <li><a href="/team">Shop</a></li>-->
                                <li><a href="/gallery">Gallery</a></li>
                                <li><a href="/blog">Our blog</a></li>
                                <!--                                    <li><a href="/404">404</a></li>-->
                            </ul>
                        </li>
                        <li><a th:href="${user == null ? '/userRegistration' : '/userLogin'}">Registration</a></li>

                        <li><a href="/userLogin">Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-search search-switch">
<!--                        <i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;-->
                        <a href="/userLogin"><i class="fa fa-user"></i></a>
                    </div>
                    <div class="to-social">
                        <a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://m.facebook.com/grit.dominate"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/details/baki6.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Use That Chip On Your Shoulder To Be Great</h3>
                        <ul>
                            <li>by Amiel De Los Reyes</li>
                            <li>October 20, 2023</li>
<!--                            <li>20 Comment</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>We all have that desire to do great things. But what really pushes us to do the work every single day is that chip on our shoulders. That could be a setback, failure, an accident.</p>
                            <p>Then you feel like giving up. You start to think if everything you have done is worth it. All the pain, suffering, lonely nights, will just turn in to waste. </p>
<!--                            <h5>You Can Buy For Less Than A College Degree</h5>-->
                            <p>But then you remember, you were not put in this world to be average. You have the capacity to do everything you put your mind to. You start to get pumped up.</p>
                            <p>You get back up to work. You hit the gym and start lifting heavier than before. You beat your current sales record. You begin to hit records that you never thought you were going to hit before.
                            </p>
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/baki3.png" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/jeff.png" alt="">
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p>And then another setback happens. You go back to square one. You got injured and all the hardwork in the gym was wasted. Your bank went down back to zero dollars after a wrong business decision. Everything was thrown out and washed up again, going to waste.
                            </p>
                            <p>But was it really wasted? You go to this cycle of ups and downs, only to always end up at the bottom. This cycle is exhausting and it makes you want to give up.</p>
                            <p>You start to think. You reminisce all the moments of hardwork, failures, setbacks, ups and downs. And then you start to realize, you are being molded to your greater self. Everything that is happening to you is meant to happen. There is no coincidence.</p>
                            <p>Then the next day. You get up, push even further. Achieve more goals, lift heavier, hit more sales record, and you keep pushing through your threshold until you reach a point of greatness.</p>
                            <p>Great people don’t give up. They push through whatever it takes. They persevere, and they have intense grit to keep going even when they hit rock bottom. That’s you as well.</p>

                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>The difference between those who succeed and those who don't is how they deal with failure.</h5>
                            <span>ERIC THOMAS</span>
                        </div>
                        <div class="blog-details-more-desc">
                            <p>Remember, everyone is great on their own. Start walking on your own path. Always look forward. Only look back in the past for motivation and lessons. Use that chip on your shoulder to prove YOURSELF that you are capable of being great.</p>
                            <p>Until then, it’s always that boring daily work that you have to put in. You show up anyways, and break more records.</p>
                            <p>Get big. 🦍</p>
                        </div>
<!--                        <div class="blog-details-tag-share">-->
<!--                            <div class="tags">-->
<!--                                <a href="#">Body buiding</a>-->
<!--                                <a href="#">Yoga</a>-->
<!--                                <a href="#">Weightloss</a>-->
<!--                                <a href="#">Streching</a>-->
<!--                            </div>-->
<!--                            <div class="share">-->
<!--                                <span>Share</span>-->
<!--                                <a href="#"><i class="fa fa-facebook"></i> 82</a>-->
<!--                                <a href="#"><i class="fa fa-twitter"></i> 24</a>-->
<!--                                <a href="#"><i class="fa fa-envelope"></i> 08</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <br/>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">

                                </div><h5>Amiel De Los Reyes</h5>
                                <p>I am an athlete who thrives on pushing my physical limits, an entrepreneur with a passion for creating and innovating, a software engineer adept at solving complex problems with code, and an aspiring businessman with a hunger for success and making a lasting impact in the business world.</p>
                                <div class="bp-social">
                                    <a href="https://www.facebook.com/amielxavier.delosreyes/"><i class="fa fa-facebook"></i></a>
                                    <!--                                    <a href="#"><i class="fa fa-twitter"></i></a>-->
                                    <!--                                    <a href="#"><i class="fa fa-google-plus"></i></a>-->
                                    <a href="https://www.instagram.com/amiel.delosreyes/"><i class="fa fa-instagram"></i></a>
                                    <!--                                    <a href="#"><i class="fa fa-youtube-play"></i></a>-->
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="comment-option">-->
<!--                                    <h5 class="co-title">Comment</h5>-->
<!--                                    <div class="co-item">-->
<!--                                        <div class="co-widget">-->
<!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
<!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="co-pic">-->
<!--                                            <img src="img/blog/details/comment-1.jpg" alt="">-->
<!--                                            <h5>Brandon Kelley</h5>-->
<!--                                        </div>-->
<!--                                        <div class="co-text">-->
<!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
<!--                                                adipisci velit dolore.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="co-item reply-comment">-->
<!--                                        <div class="co-widget">-->
<!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
<!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="co-pic">-->
<!--                                            <img src="img/blog/details/comment-2.jpg" alt="">-->
<!--                                            <h5>Brandon Kelley</h5>-->
<!--                                        </div>-->
<!--                                        <div class="co-text">-->
<!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
<!--                                                adipisci velit dolore.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="co-item">-->
<!--                                        <div class="co-widget">-->
<!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
<!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="co-pic">-->
<!--                                            <img src="img/blog/details/comment-3.jpg" alt="">-->
<!--                                            <h5>Brandon Kelley</h5>-->
<!--                                        </div>-->
<!--                                        <div class="co-text">-->
<!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
<!--                                                adipisci velit dolore.</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="leave-comment">-->
<!--                                    <h5>Leave a comment</h5>-->
<!--                                    <form action="#">-->
<!--                                        <input type="text" placeholder="Name">-->
<!--                                        <input type="text" placeholder="Email">-->
<!--                                        <input type="text" placeholder="Website">-->
<!--                                        <textarea placeholder="Comment"></textarea>-->
<!--                                        <button type="submit">Submit</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->


<!-- Footer Section Begin -->
<section class="footer-section" th:replace="footer">
</section>
<!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>