<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Gym Template">
  <meta name="keywords" content="Gym, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog - Grit Dominate</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <!--    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">-->
  <script src="https://kit.fontawesome.com/0ef1cecb74.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/flaticon.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/barfiller.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <i class="fa fa-close"></i>
  </div>
  <div class="canvas-search search-switch">
    
  </div>
  <nav class="canvas-menu mobile-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about-us">About Us</a></li>
      <!--                <li><a href="/classes">Programs</a></li>-->
      <li><a href="/services">Services</a></li>
      <li><a href="/team">Shop</a></li>
      <li><a href="#">Pages</a>
        <ul class="dropdown">
          <li><a href="/about-us">About us</a></li>
          <li><a href="/class-timetable">Programs timetable</a></li>
          <li><a href="/bmi-calculator">Bmi calculate</a></li>
          <li><a href="/team">Shop</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/blog">Our blog</a></li>
          <!--                        <li><a href="/404">404</a></li>-->
        </ul>
      </li>
      <li><a href="/userRegistration">Registration</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="canvas-social">

    <a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
    <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://m.facebook.com/grit.dominate"><i class="fa fa-facebook"></i></a>
  </div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
  <div class="container-fluid">
    <div class="row" style="padding-top:0px">
      <div class="col-lg-3" style="padding-left:50px;">
        <div class="logo">
          <a href="/">
            <img src="img/logo2.png" alt="" style="height: 65px;">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="nav-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <!--                            <li><a href="/class-details">Programs</a></li>-->
            <li><a href="/services">Services</a></li>
            <li><a href="/team">Shop</a></li>
            <li class="active"><a href="#">Pages</a>
              <ul class="dropdown">
                <!--                                    <li><a href="/about-us">About us</a></li>-->
                <li><a href="/class-timetable">Programs timetable</a></li>
                <li><a href="/bmi-calculator">Bmi calculate</a></li>
                <!--                                    <li><a href="/team">Shop</a></li>-->
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Our blog</a></li>
                <!--                                    <li><a href="/404">404</a></li>-->
              </ul>
            </li>
            <li><a href="userRegistration">Registration</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="top-option">
          <div class="to-search search-switch">
            &nbsp;&nbsp;&nbsp;
            <a href="/userLogin"><i class="fa fa-user"></i></a>
          </div>
          <div class="to-social">
            <a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://m.facebook.com/grit.dominate"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header End -->

<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="img/blog/details/gulay.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 p-0 m-auto">
        <div class="bh-text">
          <h3>Nutrition Tips for Muscle Mass and Strength</h3>
          <ul>
            <li>by Human Kinetics</li>
            <li>August 11, 2023</li>
            <!--                            <li>20 Comment</li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Details Hero Section End -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 p-0 m-auto">
        <div class="blog-details-text">
          <div class="blog-details-title">
            <p>The general nutrition rules for maximizing muscle mass and strength gains are fairly similar. Building muscle mass and muscle strength go side by side to some degree. For this reason, whether you are trying to maximize muscle hypertrophy or muscle strength, nutrient requirements are very similar.</p>

            <h5>Focus on Protein </h5>
            <p>Increasing muscle protein synthesis while decreasing muscle breakdown is critical to building muscle. Research in the lab and the gym suggests that the best way to do this is with a diet that gets you a minimum of 1 gram of protein per pound of body weight (a little over 2 grams of protein per kg of body weight) and ideally closer to about 1.5 grams of protein per pound of body weight (about 3 grams of protein per kg of body weight) per day. This is especially true for those following more intense training programs. Eating a higher-protein diet is effective for gaining more muscle and increasing muscle strength. Try to aim for 1 to 1.5 grams of protein per pound of body weight for optimal results accordingly with your workouts.</p>


            <h5>Don’t Forget Fats </h5>
            <p>Many people are still misguided when it comes to dietary fat. There is a tendency to believe that you must keep fat low in your diet to be fit and healthy.
            </p>
            <p>Yet, this is not the truth. Fat is an important macronutrient for anyone interested in building muscle and gaining strength as well as optimizing health. One reason you need to take in adequate fat is that some polyunsaturated fats (omega-3 fats and omega-6 fats) are essential. Your body cannot make these fats and you need to get them from your diet. Omega-3 fats (from sources like salmon, trout, flaxseed, and walnuts) have been found to be very important in muscle recovery and growth.</p>
            <p>They also aid joint health, protect from heart disease, and boost brain function, among other benefits. A study by Smith and colleagues (1) suggests that those use fish oil supplements which are high in omega-3 fats, have a higher anabolic response (higher rates of muscle protein synthesis) when consuming protein, which can lead to greater muscle growth in the long term. </p>
            <p>Then there is monounsaturated fat (from sources like olive oil, nuts, and avocados). This is not an essential fat, but it is a healthy fat since it provides various health benefits. On top of this, male athletes consuming more monounsaturated fat maintain higher testosterone levels (2). A simple rule for fat intake is to consume half your body weight in pounds (or about your entire body weight in kilograms) in grams of fat. So, if you weigh 200 pounds (90 kg), you would consume about 100 grams of fat per day, 33% of it as monounsaturated fat, 33% as polyunsaturated fat (mainly omega-3 fat), and 33% as saturated fat each day.</p>
          </div>
          <div class="blog-details-pic">
            <div class="blog-details-pic-item">
              <img src="img/blog/details/buhat.png" alt="">
            </div>
            <div class="blog-details-pic-item">
              <img src="img/blog/details/fudz.png" alt="">
            </div>
          </div>
          <div class="blog-details-title">
            <h5>Manipulate Carbohydrates </h5>
            <p>Because you want to make sure you’re eating ample protein and ample fat for maximizing muscle growth, the amounts of these two macronutrients should stay about the same regardless of where you are in your diet or your goals. That means to gain more mass or to lose more fat you should change your carb intake. The body can make all the glucose (blood sugar) it needs from protein and fat. Therefore, there is no essential carbohydrate you need from your diet, unlike the essential fat you need to consume, and the amino acids from protein you need to consume because the body doesn’t make them.
            </p>
            <p>For maximizing muscle growth and strength gains while minimizing fat gains, start off around 1.5 to 2 grams of carbohydrate per pound of body weight. Then you can either increase this amount if you find that you are not gaining mass rapidly enough and are not gaining any body fat. Similarly, you can also gradually lower this amount if you are gaining too much body fat. Everyone’s body is different, and your body will eventually respond to carbohydrate differently than others. You’ll need to experiment with carbohydrate intake to find the right balance for you. </p>
            <h5>Count Calories </h5>
            <p>Calorie intake is important for building muscle mass and strength because you need to be in a positive energy balance to maximize muscle growth by consuming more calories than you are burning. It is also possible to gain muscle while losing body fat. However, to maximize muscle mass, you should be eating more calories than you are burning each day. And to maximize fat loss, you should be burning more calories than you are consuming.
            </p>
            <p>It is possible to burn slightly more calories than you are consuming yet gain muscle because you are eating ample amounts of protein and fat. We know that 1 gram of protein provides 4 calories, as does 1 gram of carbs. We also know that 1 gram of fat provides about 9 calories (8-10 calories, depending on the type of fat). If you build a diet from the macronutrients up and want to be sure to get in 1.5 grams of protein per pound of body weight and 0.5 gram of fat per pound of body weight, then that is about 11 calories per pound of body weight. If you go for about 1 to 2 grams of carbohydrate per pound of body weight, then you should be eating at least 15 calories per pound of body weight to build muscle. If you find you need a good 3 grams of carbohydrate per pound of body weight, then you need about 23 calories per pound. </p>



          </div>
          <div class="blog-details-quote">
            <div class="quote-icon">
              <img src="img/blog/details/quote-left.png" alt="">
            </div>
            <h5>Nothing is as important to muscle growth as good nutrition.</h5>
            <span>FREDRICK HATFIELD</span>
          </div>
          <div class="blog-details-title">
            <h5>Find What Works for You </h5>
            <p>You might be the one person who doesn’t respond well to a few of these tips. You might be a vegan, and dairy-based products or supplements are not on your diet. Whatever it is, use these goals as a guideline, but stick with the ones that work for you. Take these tips and adapt them to your schedule and your body, or find ones that work better for you, or create your own. Everyone has a unique biochemistry, and not everyone reacts the same way to food or training. If something works for you, it doesn’t matter whether or not it works for anyone else.
            </p>
          </div>
          <!--                        <div class="blog-details-tag-share">-->
          <!--                            <div class="tags">-->
          <!--                                <a href="#">Body buiding</a>-->
          <!--                                <a href="#">Yoga</a>-->
          <!--                                <a href="#">Weightloss</a>-->
          <!--                                <a href="#">Streching</a>-->
          <!--                            </div>-->
          <!--                            <div class="share">-->
          <!--                                <span>Share</span>-->
          <!--                                <a href="#"><i class="fa fa-facebook"></i> 82</a>-->
          <!--                                <a href="#"><i class="fa fa-twitter"></i> 24</a>-->
          <!--                                <a href="#"><i class="fa fa-envelope"></i> 08</a>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <br/>
          <div class="blog-details-author">
            <div class="ba-pic">
              <img src="img/blog/details/hk.png" alt="">
            </div>
            <div class="ba-text">
              <h5>Human Kinetics</h5>
              <p>Human Kinetics is the world's leading information provider on physical activity and health. This blog is operated by the European division of Human Kinetics, based in Leeds in the United Kingdom. In this blog we aim to bring you our latest products, news on our existing products and articles and information on health, exercise, fitness, PE, nutrition and much, much more.</p>
              <div class="bp-social">
                <a href="https://www.facebook.com/HumanKinetics/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/@humankineticseu/" target="_blank"><i class="fa fa-twitter"></i></a>
                <!--                                    <a href="#"><i class="fa fa-google-plus"></i></a>-->
                <a href="https://www.instagram.com/humankinetics/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/HumanKineticsUSA/" target="_blank"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
          <!--                        <div class="row">-->
          <!--                            <div class="col-lg-6">-->
          <!--                                <div class="comment-option">-->
          <!--                                    <h5 class="co-title">Comment</h5>-->
          <!--                                    <div class="co-item">-->
          <!--                                        <div class="co-widget">-->
          <!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
          <!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-pic">-->
          <!--                                            <img src="img/blog/details/comment-1.jpg" alt="">-->
          <!--                                            <h5>Brandon Kelley</h5>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-text">-->
          <!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
          <!--                                                adipisci velit dolore.</p>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                    <div class="co-item reply-comment">-->
          <!--                                        <div class="co-widget">-->
          <!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
          <!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-pic">-->
          <!--                                            <img src="img/blog/details/comment-2.jpg" alt="">-->
          <!--                                            <h5>Brandon Kelley</h5>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-text">-->
          <!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
          <!--                                                adipisci velit dolore.</p>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                    <div class="co-item">-->
          <!--                                        <div class="co-widget">-->
          <!--                                            <a href="#"><i class="fa fa-heart-o"></i></a>-->
          <!--                                            <a href="#"><i class="fa fa-share-square-o"></i></a>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-pic">-->
          <!--                                            <img src="img/blog/details/comment-3.jpg" alt="">-->
          <!--                                            <h5>Brandon Kelley</h5>-->
          <!--                                        </div>-->
          <!--                                        <div class="co-text">-->
          <!--                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,-->
          <!--                                                adipisci velit dolore.</p>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                            <div class="col-lg-6">-->
          <!--                                <div class="leave-comment">-->
          <!--                                    <h5>Leave a comment</h5>-->
          <!--                                    <form action="#">-->
          <!--                                        <input type="text" placeholder="Name">-->
          <!--                                        <input type="text" placeholder="Email">-->
          <!--                                        <input type="text" placeholder="Website">-->
          <!--                                        <textarea placeholder="Comment"></textarea>-->
          <!--                                        <button type="submit">Submit</button>-->
          <!--                                    </form>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Details Section End -->


<!-- Footer Section Begin -->
<section class="footer-section" th:replace="footer">
</section>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>