<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-map-marker"></i>
          <p>Manila, Philippines</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text">
          <a href="sms:+639566501830">
            <i class="fa fa-mobile" style="cursor: pointer;"></i>
            <ul>
              <li>+63 956 650 1830</li>
              <!--                            <li>125-668-886</li>-->
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text email">
          <i class="fa fa-envelope" onclick="sendEmail();" style="cursor: pointer;"></i>
          <p>gritdominate@gmail.com</p>
          <script>
            function sendEmail()
			{
				window.location = "mailto:gritdominate@gmail.com";
			}
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Get In Touch Section End -->
<!-- Footer Section Begin -->
<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="fs-about">
          <div class="fa-logo">
            <a href="#"><img src="img/logo2.png" alt=""></a>
          </div>
          <p>Embrace the Challenge, Transform Your Physique. With Grit Strength program, you are bound to conquer any challenges.</p>
          <div class="fa-social">
            <a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://m.facebook.com/grit.dominate" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Useful links</h4>
          <ul>
            <li><a href="/about-us">About</a></li>
<!--            <li><a href="/blog">Blog</a></li>-->
            <li><a href="/services">Services</a></li>
<!--            <li><a href="/contact">Contact</a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Socials</h4>
          <ul>
            <li><a href="https://m.facebook.com/grit.dominate" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/grit.dominate/" target="_blank">Instagram</a></li>
            <li><a href="https://www.tiktok.com/@grit.dominate?lang=en" target="_blank">Tiktok</a></li>
            <li><a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank">Youtube</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="fs-widget">
          <h4>Sign up for Grit Dominate Newsletter</h4>
        </div>
        <div class="leave-comment">
          <form th:action="@{/newsletterSignup}" method="post">
            <span id="email-error" style="color: red;"></span>
            <input type="email" id="email" name="email" placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="Enter a valid email address" required>
            <script>
              function validateEmail() {
				  var emailInput = document.getElementById('email');
				  var emailError = document.getElementById('email-error');
				  var email = emailInput.value;

				  var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

				  if (!emailPattern.test(email)) {
					  emailError.textContent = 'Enter a valid email address. -> (example@gmail.com)';
					  emailInput.focus();
					  return false;
				  } else {
					  emailError.textContent = '';
					  return true;
				  }
			  }
            </script>
            <button type="submit" onclick="validateEmail(); return true;">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="copyright-text">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Grit Dominate Limited | All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer Section End -->