<div class="container-fluid">
  <div class="row" style="padding-top:0px">
    <div class="col-lg-3" style="padding-left:50px;">
      <div class="logo">
        <a href="/">
          <img src="img/logo2.png" alt="" style="height: 65px;">
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/class-details">Programs</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="#">Pages</a>
            <ul class="dropdown">
              <li><a href="/about-us">About us</a></li>
              <li><a href="/class-timetable">Programs timetable</a></li>
              <li><a href="/bmi-calculator">Bmi calculate</a></li>
              <li><a href="/team">Our team</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/blog">Our blog</a></li>
              <li><a href="/404">404</a></li>
            </ul>
          </li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="top-option">
        <div class="to-search search-switch">
          <i class="fa fa-search"></i>
        </div>
        <div class="to-social">
          <a href="http://www.tiktok.com/@_.grit" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
          <a href="https://www.youtube.com/channel/UCUYuMr4KH_-w4cTMOZZp8CA" target="_blank"><i class="fa fa-youtube-play"></i></a>
          <a href="https://www.instagram.com/grit.dominate/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="canvas-open">
    <i class="fa fa-bars"></i>
  </div>
</div>